a div {
	text-decoration:none;
}

#black {
	

	height:70px;
	border-radius:10px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}





#green {
	

	height:50px;
	border-radius:10px;
	
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}

#green-home {
	

	height:80px;
	border-radius:10px;
	
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
}



#pink {
	height:50px;
	border-radius:10px;
	
	background-color:#b80000;
	background-image:-webkit-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-moz-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-o-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-ms-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fad5e4', endColorstr='#b80000',GradientType=0);}

	#pink-home {
		height:80px;
		border-radius:10px;
	
		background-color:#b80000;
		background-image:-webkit-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
		background-image:-moz-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
		background-image:-o-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
		background-image:-ms-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fad5e4', endColorstr='#b80000',GradientType=0);}


#purple {
	height:50px;
	border-radius:10px;
	
	background-color:#b80000;
	background-image:-webkit-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-moz-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-o-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-ms-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fad5e4', endColorstr='#b80000',GradientType=0);}
	
}

#purple-list {
	height:40px;
	border-radius:10px;
	
	background: #e570e7; /* Old browsers */
	background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(47%,#c85ec7), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
	
}


#toolkit {
	width:100%;
	height:50px;
	border-radius:10px;
	
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

#toolkit-home {
	width:100%;
	height:80px;
	border-radius:10px;
	
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

#toolkit-header-top {
	margin-bottom: 5px;
	color:#FFFFFF;
	font-size: 16px;
	font-family: "Verdana";
	height: 60px;
	padding-top: 30px;
	margin-left: 10px;
	border-radius:10px;
	margin-right:10px;
	
	
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}


.button-bottom-page {
	height: 80px;
	text-align: center;
	display: block;
	padding-top: 10px;
	background-color:#5DA667;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	color:white;
	font-size: 22px;
	display: block;
	
}

.button-bottom-page-toolkit {
	height: 80px;
	text-align: center;
	display: block;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	color:white;
	font-size: 22px;
	display: block;
	border-radius:10px;
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
	
	
}

.button-bottom-page-black {
	height: 80px;
	text-align: center;
	display: block;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	color:white;
	font-size: 22px;
	display: block;
	border-radius:10px;
	
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
}

.button-bottom-page-pink {
	height: 80px;
	text-align: center;
	display: block;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	color:white;
	font-size: 22px;
	display: block;
	border-radius:10px;
	
	background-color:#b80000;
	background-image:-webkit-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-moz-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-o-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-ms-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fad5e4', endColorstr='#b80000',GradientType=0);}
	
}







#lime-header {
	background-color:lime;
	
}

#lime-border {
	border: 5px solid lime;
	
	margin: 15px;
}

#violet-header {
	background-color: #83E1DC;
	
}

#pink-border {
	border: 5px solid #b80000;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-top: 5px;
}

#lightgreen-header {
	background-color: #5DA667;
	margin-bottom: 5px;
	margin-left:15px;
	margin-right:15px;
}

#lightgreen-border {
	border: 5px solid #5DA667;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

#green-header {
	margin-bottom: 5px;
	color:#FFFFFF;
	font-size: 16px;
	font-family: "Verdana";
	height: 40px;
	padding-top: 10px;
	margin-left: 10px;
	border-radius:10px;
	margin-right:10px;
	
	
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
	
	
}

#green-border {
	border: 5px solid #008a00;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-top: 5px;
	
		
}

#black-border {
	border: 5px solid #45484d;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-top: 5px;
}

#toolkit-border {
	border: 5px solid rgb(109,179,242);
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-top: 5px;
	
	
}

#black-header {
	margin-bottom: 5px;
	color:#FFFFFF;
	font-size: 16px;
	font-family: "Verdana";
	height: 40px;
	padding-top: 10px;
	margin-left: 10px;
	border-radius:10px;
	margin-right:10px;
	
	
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#toolkit-header {
	margin-bottom: 5px;
	color:#FFFFFF;
	font-size: 16px;
	font-family: "Verdana";
	height: 40px;
	padding-top: 10px;
	margin-left: 10px;
	border-radius:10px;
	margin-right:10px;

	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

}

#black-header-top {
	margin-bottom: 5px;
	color:#FFFFFF;
	font-size: 16px;
	font-family: "Verdana";
	height: 60px;
	padding-top: 30px;
	margin-left: 10px;
	border-radius:10px;
	margin-right:10px;
	
	
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#green-header-top {
	margin-bottom: 5px;
	color:#FFFFFF;
	font-size: 16px;
	font-family: "Verdana";
	height: 60px;
	padding-top: 30px;
	margin-left: 10px;
	border-radius:10px;
	margin-right:10px;
	
	
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
	}
	
	#green-header-top-home {
		margin-bottom: 5px;
		color:#FFFFFF;
		font-size: 26px;
		font-family: "Verdana";
		height: 80px;
		padding-top: 40px;
		margin-left: 10px;
		border-radius:10px;
		margin-right:10px;
	
	
		background: #b4ddb4; /* Old browsers */
		background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
		background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
		}

#pink-header-top {
	margin-bottom: 5px;
	color:#FFFFFF;
	font-size: 16px;
	font-family: "Verdana";
	height: 60px;
	padding-top: 30px;
	margin-left: 10px;
	border-radius:10px;
	margin-right:10px;
	
	
	background-color:#b80000;
	background-image:-webkit-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-moz-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-o-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	background-image:-ms-linear-gradient(top,rgb(250,213,228) 2.79%,rgb(184,0,0) 63.83%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fad5e4', endColorstr='#b80000',GradientType=0);}
}






.button-inline {
	width: 95%;
	height: 80px;
	text-align: center;
	display: block;
	padding-top: 10px;
	background-color:#5DA667;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	color:white;
	font-size: 22px;
	display: block;
	
}



li {
	margin-bottom: 10px;
	margin-left: -8px;
}


a {
	text-decoration:none;
	/*width: 100%;
	height: 100%;
	display: block;*/
}

.blackline {
	width: 100%;
	height: 6px;
	background-color: black;
	margin-bottom:10px;
	margin-top:10px;
}

h1 {
	margin-left: 7px;
	margin-right: 7px;
	text-align: center;
	background-color: green;
	height: 40px;
}

h2 {
	margin-left: 7px;
	margin-right: 7px;
	text-align: center;
	background-color: green;
	height: 25px;
}

h3 {
	margin: 10px;
}

/*.button-wrapper
{
	width: 660px;
	margin-left: 20px;
	margin-bottom: 20px;

	-moz-box-shadow: inset 0 0 0px 8px #008A12;
		-webkit-box-shadow: inset 0 0 0px 8px#008A12;
		box-shadow: inner 0 0 0px 8px #008A12;	
}*/

.button-wrapper {

	margin-left:20px;
	margin-right:20px;
	margin-bottom: 20px;
	border-radius:10px;
	
	moz-box-shadow: inset 0 0 0px 8px #1C981C;
			-webkit-box-shadow: inset 0 0 0px 8px #1C981C;
			box-shadow: inner 0 0 0px 8px #1C981C;
}

.button-wrapper-pink {
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius:10px;
	
	moz-box-shadow: inset 0 0 0px 8px #b80000;
			-webkit-box-shadow: inset 0 0 0px 8px #b80000;
			box-shadow: inner 0 0 0px 8px #b80000;
}

.button-wrapper-black {
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius:10px;
	
	moz-box-shadow: inset 0 0 0px 8px #45484d;
			-webkit-box-shadow: inset 0 0 0px 8px #45484d;
			box-shadow: inner 0 0 0px 8px #45484d;
}

.button-wrapper-toolkit
{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius:10px;

	moz-box-shadow: inset 0 0 0px 8px #3690f0;
			-webkit-box-shadow: inset 0 0 0px 8px #3690f0;
			box-shadow: inner 0 0 0px 8px #3690f0;
		
}


.button
{
	position: relative;
	text-align: center;
	height: 50px;
	border-radius: 10px;
	
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
	
}

.button-list
{
	position: relative;
	text-align: center;
	height: 40px;
	border-radius: 10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	text-decoration:none;
	
	background: #b4ddb4; /* Old browsers */
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
	
}
			
.button-wrapper-purple {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius:10px;

	moz-box-shadow: inset 0 0 0px 8px #e570e7;
			-webkit-box-shadow: inset 0 0 0px 8px #e570e7;
			box-shadow: inner 0 0 0px 8px #e570e7;

}		
	

.button-label
{
	position: relative;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	cursor: default;
	font-family: "Verdana";
	height: 40px;
	width: 95%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	top: 14px;
	
}

.button-label-home
{
	position: relative;
	text-align: center;
	color: #FFFFFF;
	font-size: 22px;
	cursor: default;
	font-family: "Verdana";
	height: 40px;
	width: 95%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	top: 26px;
	
}

.button-inside
{
	position: relative;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	cursor: default;
	font-family: "Verdana";
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #5DA667;
	width: 100%;
	margin-top: 15px;	
}

.button-label-2lines
{
	position: relative;
	color: #FFFFFF;
	font-size: 18px;
	height: 40px;
	width: 95%px;
	border-radius: 5px;
	cursor: default;
	font-family: "Verdana";
	margin-left: auto;
	margin-right: auto;
	top: 4px;
	text-align: center;
}

.button-label-2lines-home
{
	position: relative;
	color: #FFFFFF;
	font-size: 22px;
	height: 40px;
	width: 95%px;
	border-radius: 5px;
	cursor: default;
	font-family: "Verdana";
	margin-left: auto;
	margin-right: auto;
	top: 12px;
	text-align: center;
}


/*.button-bottom
{
	width: 100%;
	height: 10px;
	background-color: #008A12;
}*/

.button-bottom {
	width: 100%;
	height 6px;
	background-color: #00B815;
}

.button-bottom-toolkit
{
	width: 100%;
	height: 0px;
	background-color: #3690f0;
}

.hidden-content
{
	width: 90%;
	display: none;
	margin-right: auto;
	margin-left: auto;
}



.hidden-content-space
{
	height: 15px;
}



.text-inside
{
	position: relative;
	color: #000000;
	font-size: 14px;
	cursor: default;
	font-family: "Verdana";
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	margin-top: 15px;
}

.button-inside-label
{
	
}

.text-inside
{
	
}

/*@media all and (max-width: 2000px) {
	.button-wrapper
	{
		margin-right: auto;
		margin-left: auto;
		width: 95%;
	}
	
	.button-wrapper-toolkit
	{
		margin-right: auto;
		margin-left: auto;
		width: 95%;
	}
	
	.button-wrapper-pink
	{
		margin-right: auto;
		margin-left: auto;
		width: 95%;
	}

	.button-wrapper-purple
	{
		margin-right: auto;
		margin-left: auto;
		width: 95%;
	}
	
	/*.button-list {
		width: 90%;
	}*/
	

}