.settings-menu
{
	position: absolute;
	width: 90%;
	height: 240%;
	right: 0;

	/*background-color: #353535;*/
	background-image:url('../img/greybackground3.png');
	
	
	display: none;
}

.settings-item
{
	position: relative;
	width: 100%;
}

.screen-slide
{
	left: -90%;
}

